<!DOCTYPE html>
<head>
    <title>HTML5 Music Player</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" type="text/javascript"></script>
    <script src="app.js" type="text/javascript"></script>
    <script src="maincontroller.js" type="text/javascript"></script>
</head>
<body>
    <div id='content' ng-app='H5Play' ng-controller='MainController'>
        {{understand}}<br/>
        <input type='text' ng-model='inputValue' /> {{inputValue}}
        <p>
        <ul ng-model='selectedTrack'>
            <li ng-repeat='track in playList' ng-click='play(track)'>{{track.name}}</li>
        </ul>
    </p>
    Add track: <input type="file" onchange="angular.element(this).scope().trackSelected(this)" />
    <button ng-click="addTrack()">Add</button><br/>
    <button ng-click="pause()">Pause</button><br/>
    <button ng-click="continue()">Continue</button><br/>
    <button ng-click="stop()">Stop</button><br/>
</div>
</body>
</html>
